<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">Client</h5>
                        <p class="card-title-desc"><b>Enter Client Details</b> </p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <form [formGroup]="validationForm">
                        <div class="row">
                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Client Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Name"
                                        formControlName="name"
                                        [ngClass]="{'is-invalid': f.name.touched && f.name.errors}">
                                    <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                                        <span *ngIf="f.name.errors.required">This Field is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 mb-2">
                                <div class="form-group mb-3">
                                    <label for="name">Upload Client Logo</label>
                                    <div class="custom-avatar-uploader">
                                        <div class="d-flex justify-content-center">
                                            <label class="custom-upload-box" *ngIf="!imageUrl" tooltip="Upload Image"
                                                tooltipPosition="above">
                                                <input type="file" accept="image/*" (change)="uploadImageFile($event)"
                                                    hidden />
                                                <a><i class="mdi mdi-plus-circle"></i></a>
                                            </label>
                                            <div class="custom-preview-box" *ngIf="imageUrl">
                                                <img [src]="serverPath+tokenImage" alt="Avatar" />
                                                <a class="custom-remove-btn" tooltip="Remove Uploaded Image"
                                                    tooltipPosition="above" (click)="removeUploadedImage(tokenImage)">
                                                    <i class="mdi mdi-close-circle"></i></a>
                                            </div>
                                        </div>
                                        <ngb-progressbar [value]="uploadProgress" [type]="progressType"
                                            *ngIf="uploading"></ngb-progressbar>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-danger waves-effect">Cancel</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                            [disabled]="validationForm.invalid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Client List</h5>
                <p class="card-title-desc mb-0">List of all clients</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="text-left">#</th>
                                <th class="text-center">Client Name</th>
                                <th class="text-center">Image</th>
                                <th class="text-center">Active & Deactive</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of paginateData;let i=index">
                                <td class="text-left">{{c.index}}</td>
                                <td class="text-center">{{c.name}}</td>
                                <td class="text-center">
                                    <img src="https://api.cesociety.in{{c.image}}" alt="{{c.keywords}}"
                                        class="rounded avatar-lg" (click)="openImage(c.index - 1)">
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-success waves-effect btn-label waves-light"
                                        *ngIf="c.isactive" (click)="deactiveBanners(c.index)"><i
                                            class="bx bx-check-double label-icon"></i> Active</button>
                                    <button type="button" class="btn btn-danger waves-effect btn-label waves-light"
                                        *ngIf="!c.isactive" (click)="activeBanners(c.index)"><i
                                            class="bx bx-block label-icon"></i> Deactive</button>
                                </td>
                                <td class="text-end">
                                    <div class="d-flex justify-content-end gap-1">
                                        <button type="button" class="btn btn-soft-danger waves-effect waves-light"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="View & Accept"
                                            (click)="removeBannersImages(c.id)"><i
                                                class="bx bx-trash-alt font-size-16 align-middle"></i></button>
                                        <!-- <div class="d-flex justify-content-end gap-1">
                                        <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="View & Accept"><i
                                                class="bx bx-edit font-size-16 align-middle"></i></button>
                                      
                                    </div> -->
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4">
                    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        (pageChange)="getPagintaion();" aria-label="Default pagination"
                        class="d-flex justify-content-end pagination-rounded-flat pagination-success"></ngb-pagination>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>