<div class="row" *ngIf="isOpen==false">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">

                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">Add Blog</h5>
                        <p class="card-title-desc"><b>Enter Blog Details</b> </p>
                    </div>
                    <button type="button" class="btn btn-danger waves-effect waves-light" (click)="BlogList()">
                        <i class="bx bx-arrow-back  "></i>
                        Back</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <form [formGroup]="validationForm">
                        <div class="row">
                            <!-- Title -->
                            <div class="col-lg-12 mb-2">
                                <div class="form-group mb-3">
                                    <label>Meta Title</label>
                                    <input type="text" class="form-control" placeholder="Enter Meta Title"
                                        formControlName="metatitle"
                                        [ngClass]="{'is-invalid': f.metatitle.touched && f.metatitle.errors}">
                                    <div *ngIf="f.metatitle.touched && f.metatitle.errors" class="invalid-feedback">
                                        <span *ngIf="f.metatitle.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2">
                                <div class="form-group mb-3">
                                    <label>Meta Keywords (Separate with commas)</label>
                                    <textarea class="form-control" rows="2" placeholder="Enter Meta Keywords"
                                        formControlName="keywords"
                                        [ngClass]="{'is-invalid': f.keywords.touched && f.keywords.errors}"></textarea>
                                    <div *ngIf="f.keywords.touched && f.keywords.errors" class="invalid-feedback">
                                        <span *ngIf="f.keywords.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2">
                                <div class="form-group mb-3">
                                    <label>Meta Description</label>
                                    <textarea class="form-control" rows="2" placeholder="Enter Meta Description"
                                        formControlName="metadescription"
                                        [ngClass]="{'is-invalid': f.metadescription.touched && f.metadescription.errors}"></textarea>
                                    <div *ngIf="f.metadescription.touched && f.metadescription.errors"
                                        class="invalid-feedback">
                                        <span *ngIf="f.metadescription.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-2">
                                <div class="form-group mb-3">
                                    <label>Blog Title</label>
                                    <input type="text" class="form-control" placeholder="Enter Blog Title"
                                        formControlName="blogtitle"
                                        [ngClass]="{'is-invalid': f.blogtitle.touched && f.blogtitle.errors}">
                                    <div *ngIf="f.blogtitle.touched && f.blogtitle.errors" class="invalid-feedback">
                                        <span *ngIf="f.blogtitle.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Description CKEditor -->
                            <div class="col-lg-12 mb-2">
                                <div class="form-group mb-3">
                                    <label>Description</label>
                                    <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
                                    <div *ngIf="f.description.touched && f.description.errors" class="invalid-feedback">
                                        <span *ngIf="f.description.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label">Select Category </label>
                                    <ng-select [items]="keyIndicator" bindLabel="keyno" bindValue="keyno"
                                        formControlName="category" placeholder="Select Category" [multiple]="true"
                                        (change)="onKeyIndicatorChange($event)" [addTag]="addNewIndicator">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.keyno}}
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="f.category.touched && f.category.errors" class="invalid-feedback">
                                        <span *ngIf="f.category.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Author Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Author Name"
                                        formControlName="authorname"
                                        [ngClass]="{'is-invalid': f.authorname.touched && f.authorname.errors}">
                                    <div *ngIf="f.authorname.touched && f.authorname.errors" class="invalid-feedback">
                                        <span *ngIf="f.authorname.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Published Date -->
                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Published Date</label>
                                    <input type="date" class="form-control" formControlName="publishDate">
                                    <div *ngIf="f.publishDate.touched && f.publishDate.errors"
                                        class="invalid-feedback">
                                        <span *ngIf="f.publishDate.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Inner Image Uploader -->
                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Upload Inner Image <span class="text-muted">(Required size: 800x600px)</span>
                                    </label>
                                    <div class="custom-avatar-uploader">
                                        <div class="d-flex justify-content-center">
                                            <label class="custom-upload-box" *ngIf="!innerImageUrl"
                                                tooltip="Upload Image" tooltipPosition="above">
                                                <input type="file" accept="image/*"
                                                    (change)="uploadInnerImageFile($event)" hidden />
                                                <a><i class="mdi mdi-plus-circle"></i></a>
                                            </label>
                                            <div class="custom-preview-box" *ngIf="innerImageUrl">
                                                <img [src]="innerImageUrl" alt="Inner Avatar" />
                                                <a class="custom-remove-btn" tooltip="Remove Uploaded Image"
                                                    tooltipPosition="above" (click)="removeUploadedInnerImage()">
                                                    <i class="mdi mdi-close-circle"></i></a>
                                            </div>
                                        </div>
                                        <div class="custom-progress" *ngIf="innerUploading">
                                            Uploading... {{innerUploadProgress}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Blog Gallery <span class="text-muted">(You can add multiple
                                            images)</span>
                                    </label>
                                    <div class="d-flex flex-row flex-wrap gap-3 align-items-center">
                                        <ng-container
                                            *ngFor="let uploader of galleryUploaders; let uploaderIndex = index">
                                            <div
                                                class="custom-avatar-uploader d-flex flex-wrap gap-2 align-items-center position-relative">
                                                <!-- Show close button only if more than one uploader -->
                                                <button *ngIf="galleryUploaders.length > 1" type="button"
                                                    class="btn btn-sm btn-danger position-absolute top-0 end-0"
                                                    style="z-index:2;" (click)="removeGalleryUploader(uploaderIndex)">
                                                    <i class="mdi mdi-close"></i>
                                                </button>
                                                <ng-container *ngFor="let img of uploader.images; let i = index">
                                                    <div class="custom-preview-box">
                                                        <img [src]="img" alt="Gallery Image" />
                                                        <a class="custom-remove-btn" tooltip="Remove Image"
                                                            tooltipPosition="above"
                                                            (click)="removeGalleryImage(uploaderIndex, i)">
                                                            <i class="mdi mdi-close-circle"></i>
                                                        </a>
                                                    </div>
                                                </ng-container>
                                                <!-- Add Image Button for this uploader -->
                                                <label class="custom-upload-box" tooltip="Add Image"
                                                    tooltipPosition="above">
                                                    <input type="file" accept="image/*"
                                                        (change)="addGalleryImage($event, uploaderIndex)" hidden
                                                        multiple />
                                                    <a><i class="mdi mdi-plus-circle"></i></a>
                                                </label>
                                            </div>
                                        </ng-container>
                                        <!-- Plus button to add another uploader, always at the end -->
                                        <button type="button" class="btn btn-success ms-2"
                                            (click)="addGalleryUploader()">
                                            <i class="bx bx-plus"></i>
                                        </button>
                                    </div>
                                    <div class="custom-progress" *ngIf="galleryUploading">
                                        Uploading... {{galleryUploadProgress}}%
                                    </div>
                                </div>
                            </div>

                            <!-- Portfolio Gallery Uploader -->

                        </div>
                    </form>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-danger waves-effect">Cancel</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                            [disabled]="validationForm.invalid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="isOpen">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">Blogs </h5>
                        <p class="card-title-desc">List of all blog</p>
                    </div>
                    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="AddBlog()">
                        <i class="fas fa-user-plus "></i>
                        Add New Blog </button>
                </div>

            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="text-left">#</th>
                                <th class="text-center">Blog Name</th>
                                <th class="text-center">Client Name</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Published Date</th>
                                <th class="text-center">Active & Deactive</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of paginateData;let i=index">
                                <td class="text-left">{{c.index}}</td>
                                <td class="text-center">{{c.name}}</td>

                                <td class="text-center">
                                    <button type="button" class="btn btn-success waves-effect btn-label waves-light"
                                        *ngIf="c.isactive" (click)="deactiveBanners(c.index)"><i
                                            class="bx bx-check-double label-icon"></i> Active</button>
                                    <button type="button" class="btn btn-danger waves-effect btn-label waves-light"
                                        *ngIf="!c.isactive" (click)="activeBanners(c.index)"><i
                                            class="bx bx-block label-icon"></i> Deactive</button>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4">
                    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        (pageChange)="getPagintaion();" aria-label="Default pagination"
                        class="d-flex justify-content-end pagination-rounded-flat pagination-success"></ngb-pagination>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>