<div class="row" *ngIf="isOpen==false">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">Client Portfolio</h5>
                        <p class="card-title-desc"><b>Enter Client Portfolio Details</b></p>
                    </div>
                    <button type="button" class="btn btn-danger waves-effect waves-light" (click)="portfolioList()">
                        <i class="bx bx-arrow-back"></i> Back
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <form [formGroup]="validationForm">
                        <div class="row">
                            <!-- Title -->
                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Title</label>
                                    <input type="text" class="form-control" placeholder="Enter Title"
                                        formControlName="title"
                                        [ngClass]="{'is-invalid': f.title.touched && f.title.errors}">
                                    <div *ngIf="f.title.touched && f.title.errors" class="invalid-feedback">
                                        <span *ngIf="f.title.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Client Name Dropdown -->
                            <div class="col-lg-4 mb-2">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label">Client Name</label>
                                    <ng-select [items]="clientsData" bindLabel="name" bindValue="name"
                                        formControlName="clientname" placeholder="Client Name"
                                        (change)="onNameChange($event)" [addTag]="addNewName">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>

                            <!-- Category Dropdown -->
                            <div class="col-lg-4 mb-2">
                                <div class="mb-3">
                                    <label for="choices-single-default" class="form-label">Select Category</label>
                                    <ng-select [items]="categories" bindLabel="category" bindValue="category"
                                        formControlName="category" placeholder="Select Category"
                                        (change)="onCategoryChange($event)" [addTag]="addNewCategory">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.category}}
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="f.category.touched && f.category.errors" class="invalid-feedback">
                                        <span *ngIf="f.category.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Author Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Author Name"
                                        formControlName="authorname"
                                        [ngClass]="{'is-invalid': f.authorname.touched && f.authorname.errors}">
                                    <div *ngIf="f.authorname.touched && f.authorname.errors" class="invalid-feedback">
                                        <span *ngIf="f.authorname.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Published Date -->
                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Publish Date</label>
                                    <input type="date" class="form-control" formControlName="publishdate">
                                    <div *ngIf="f.publishdate.touched && f.publishdate.errors" class="invalid-feedback">
                                        <span *ngIf="f.publishdate.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Inner Image Uploader -->
                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Upload Cover Image <span class="text-muted">(Required size:
                                            800x600px)</span></label>
                                    <div class="custom-avatar-uploader">
                                        <div class="d-flex justify-content-center">
                                            <label class="custom-upload-box" *ngIf="!coverImageUrl"
                                                tooltip="Upload Image" tooltipPosition="above">
                                                <input type="file" accept="image/*"
                                                    (change)="uploadInnerImageFile($event)" hidden />
                                                <a><i class="mdi mdi-plus-circle"></i></a>
                                            </label>
                                            <div class="custom-preview-box" *ngIf="coverImageUrl">
                                                <img [src]="coverImageUrl" alt="Inner Avatar" />
                                                <a class="custom-remove-btn" tooltip="Remove Uploaded Image"
                                                    tooltipPosition="above" (click)="removeUploadedInnerImage()">
                                                    <i class="mdi mdi-close-circle"></i></a>
                                            </div>
                                        </div>
                                        <div class="custom-progress" *ngIf="coverUploading">
                                            Uploading... {{coverUploadProgress}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Gallery Uploader -->
                            <div class="col-lg-4 mb-2">
                                <div class="form-group mb-3">
                                    <label>Portfolio Gallery <span class="text-muted">(You can add multiple
                                            images)</span></label>
                                    <div class="d-flex flex-row flex-wrap gap-3 align-items-center">
                                        <ng-container
                                            *ngFor="let uploader of galleryUploaders; let uploaderIndex = index">
                                            <div
                                                class="custom-avatar-uploader d-flex flex-wrap gap-2 align-items-center position-relative">
                                                <!-- Show close button only if more than one uploader -->
                                                <button *ngIf="galleryUploaders.length > 1" type="button"
                                                    class="btn btn-sm btn-danger position-absolute top-0 end-0"
                                                    style="z-index:2;" (click)="removeGalleryUploader(uploaderIndex)">
                                                    <i class="mdi mdi-close"></i>
                                                </button>
                                                <ng-container *ngFor="let img of uploader.images; let i = index">
                                                    <div class="custom-preview-box">
                                                        <img [src]="img" alt="Gallery Image" />
                                                        <a class="custom-remove-btn" tooltip="Remove Image"
                                                            tooltipPosition="above"
                                                            (click)="removeGalleryImage(uploaderIndex, i)">
                                                            <i class="mdi mdi-close-circle"></i>
                                                        </a>
                                                    </div>
                                                </ng-container>
                                                <!-- Add Image Button for this uploader -->
                                                <label class="custom-upload-box" tooltip="Add Image"
                                                    tooltipPosition="above">
                                                    <input type="file" accept="image/*"
                                                        (change)="addGalleryImage($event, uploaderIndex)" hidden
                                                        multiple />
                                                    <a><i class="mdi mdi-plus-circle"></i></a>
                                                </label>
                                            </div>
                                        </ng-container>
                                        <!-- Plus button to add another uploader, always at the end -->
                                        <button type="button" class="btn btn-success ms-2"
                                            (click)="addGalleryUploader()">
                                            <i class="bx bx-plus"></i>
                                        </button>
                                    </div>
                                    <div class="custom-progress" *ngIf="galleryUploading">
                                        Uploading... {{galleryUploadProgress}}%
                                    </div>
                                </div>
                            </div>

                            <!-- Description CKEditor -->
                            <div class="col-lg-12 mb-2">
                                <div class="form-group mb-3">
                                    <label>Description</label>
                                    <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
                                    <div *ngIf="f.description.touched && f.description.errors" class="invalid-feedback">
                                        <span *ngIf="f.description.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-danger waves-effect">Cancel</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                            (click)="submitPortfolioDetails()" [disabled]="validationForm.invalid">
                            {{ isEditing ? 'Update' : 'Submit' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="isOpen">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">Client Portfolio</h5>
                        <p class="card-title-desc">List of all Portfolio</p>
                    </div>
                    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="addPortfolio()">
                        <i class="fas fa-user-plus"></i> Add New Portfolio
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="text-left">#</th>
                                <th class="text-center">Portfolio Name</th>
                                <th class="text-center">Client Name</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Image</th>
                                <th class="text-center">Publish Date</th>
                                <th class="text-center">Active & Deactive</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of paginateData; let i=index">
                                <td class="text-left">{{c.index}}</td>
                                <td class="text-center">{{c.title}}</td>
                                <td class="text-center">{{c.clientname}}</td>
                                <td class="text-center">{{c.category}}</td>
                                <td class="text-center">
                                    <img [src]="serverPath+c.coverimage" alt="{{c.clientname}}"
                                        class="rounded avatar-lg" (click)="openImage(c.index - 1)">
                                </td>
                                <td class="text-center">{{c.publishdate | date:'shortDate'}}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-success waves-effect btn-label waves-light"
                                        *ngIf="c.isactive" (click)="deactiveBanners(c.index)">
                                        <i class="bx bx-check-double label-icon"></i> Active
                                    </button>
                                    <button type="button" class="btn btn-danger waves-effect btn-label waves-light"
                                        *ngIf="!c.isactive" (click)="activeBanners(c.index)">
                                        <i class="bx bx-block label-icon"></i> Deactive
                                    </button>
                                </td>
                                <td class="text-end">
                                    <div class="d-flex justify-content-end gap-1">
                                        <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="View & Accept"
                                            (click)="editPortfolioById(c)">
                                            <i class="bx bx-edit font-size-16 align-middle"></i>
                                        </button>
                                        <button type="button" class="btn btn-soft-danger waves-effect waves-light"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="View & Accept"
                                            (click)="removePortfolioById(c.id)">
                                            <i class="bx bx-trash-alt font-size-16 align-middle"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4">
                    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        (pageChange)="getPagintaion();" aria-label="Default pagination"
                        class="d-flex justify-content-end pagination-rounded-flat pagination-success"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>