<app-category-tab></app-category-tab>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">Sub Category</h5>
                        <p class="card-title-desc"><b>Enter Sub Category Details</b></p>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <form [formGroup]="validationForm" class="w-100">
                        <div class="row">
                            <!-- Single select -->
                            <div class="col-lg-6 mb-2">
                                <label>Select Category</label>
                                <ng-select [items]="categories" formControlName="selectedCategory"
                                    (change)="onCategoryChange($event)">
                                </ng-select>
                                <div class="text-danger mt-1"
                                    *ngIf="submitted && f['selectedCategory']?.errors?.['required']">
                                    Category is required.
                                </div>
                            </div>

                            <!-- Sub-category inputs -->
                            <div class="col-lg-6 mb-2" *ngIf="subCategories.length > 0">
                                <label>
                                    Sub Categories for {{ validationForm.get('selectedCategory')?.value }}
                                </label>

                                <div formArrayName="subCategories">
                                    <div class="d-flex align-items-center mb-2"
                                        *ngFor="let ctrl of subCategories.controls; let i = index">
                                        <input type="text" class="form-control" [formControlName]="i"
                                            placeholder="Enter Sub Category" />

                                        <button type="button" class="btn btn-success ms-2"
                                            (click)="addSubCategoryField()">
                                            <i class="bx bx-plus"></i>
                                        </button>

                                        <button type="button" class="btn btn-danger ms-2"
                                            (click)="removeSubCategoryField(i)" [disabled]="subCategories.length === 1">
                                            <i class="bx bx-minus"></i>
                                        </button>
                                    </div>

                                    <!-- simple validation -->
                                    <div class="text-danger mt-1" *ngIf="submitted && subCategories.invalid">
                                        Please fill all sub-category fields.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-danger waves-effect">Cancel</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                            [disabled]="validationForm.invalid" (click)="submit()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- List (demo) -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Sub Category List</h5>
                <p class="card-title-desc mb-0">List of all Sub Categories</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="text-left">#</th>
                                <th class="text-center">Category Name</th>
                                <th class="text-center">Title</th>
                                <th class="text-center">Active & Deactive</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of paginateData; let i = index">
                                <td class="text-left">{{ c.index }}</td>
                                <td class="text-center">{{ c.name }}</td>
                                <td class="text-center">{{ c.title }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-success waves-effect btn-label waves-light">
                                        <i class="bx bx-check-double label-icon"></i> Active
                                    </button>
                                    <button type="button" class="btn btn-danger waves-effect btn-label waves-light">
                                        <i class="bx bx-block label-icon"></i> Deactive
                                    </button>
                                </td>
                                <td class="text-end">
                                    <div class="d-flex justify-content-end gap-1">
                                        <button type="button" class="btn btn-soft-danger waves-effect waves-light"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                            <i class="bx bx-trash-alt font-size-16 align-middle"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="paginateData.length === 0">
                                <td colspan="5" class="text-center py-4">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row mt-4">
                    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        (pageChange)="getPagintaion()" aria-label="Default pagination"
                        class="d-flex justify-content-end pagination-rounded-flat pagination-success">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>