<!-- start page title -->
<app-pagetitle title="Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>  
<!-- end page title -->

<!-- KPIs -->
<!-- website kpi -->
<!-- <h3>Website</h3> -->
<div class="row">
    <div class="col-xl-3 col-md-6">
    <a [routerLink]="['/workfolio/clients']">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Client<br>&nbsp; </span>
                        <h4 class="mb-3">
                            <span [countUp]="clientsCount" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-6 text-center">
                        <i class="mdi mdi-account-group" style="font-size: 40px;"></i> 
                    </div>

                </div>
                <div class="text-nowrap mt-2">
                  <span class="view-details text-primary fw-medium link-primary link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    View Details <i class="mdi mdi-arrow-right" style="font-size: 18px;"></i>
                  </span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
        </a>
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
    <a [routerLink]="['/workfolio/portfolio']">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Portfolio<br>&nbsp;</span>
                        <h4 class="mb-3">
                            <span [countUp]="portfolioCount" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-6 text-center">
                        <i class="mdi mdi-briefcase-outline" style="font-size: 40px;"></i> 
                    </div>
                </div>
                <div class="text-nowrap mt-2">
                  <span class="view-details text-primary fw-medium link-primary link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    View Details <i class="mdi mdi-arrow-right" style="font-size: 18px;"></i>
                  </span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
        </a>
    </div><!-- end col-->

    <div class="col-xl-3 col-md-6">
    <a [routerLink]="['/student-form-list']">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Student<br> Form</span>
                        <h4 class="mb-3">
                            <span [countUp]="studentFormCount" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-6 text-center">
                        <i class="mdi mdi-school-outline" style="font-size: 40px;"></i> 
                    </div>
                </div>
                <div class="text-nowrap mt-2">
                  <span class="view-details text-primary fw-medium link-primary link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    View Details <i class="mdi mdi-arrow-right" style="font-size: 18px;"></i>
                  </span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
        </a>
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
    <a [routerLink]="['/connect/internship']">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Intership<br> Form</span>
                        <h4 class="mb-3">
                            <span [countUp]="intershipFormCount" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-6 text-center">
                        <i class="mdi mdi-account-tie-outline" style="font-size: 40px;"></i> 
                    </div>
                </div>
                <div class="text-nowrap mt-2">
                  <span class="view-details text-primary fw-medium link-primary link-offset-2 link-underline-opacity-75-hover">
                    View Details <i class="mdi mdi-arrow-right" style="font-size: 18px;"></i>
                  </span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
        </a>
    </div><!-- end col -->
    
    <div class="col-xl-3 col-md-6">
    <a [routerLink]="['/workfolio/casestudy']">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Case Study<br>&nbsp; </span>
                        <h4 class="mb-3">
                            <span [countUp]="caseStudyCount" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-6 text-center">
                        <i class="mdi mdi-file-chart-outline" style="font-size: 40px;"></i>
                    </div>

                </div>
                <div class="text-nowrap mt-2">
                  <span class="view-details text-primary fw-medium link-primary link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    View Details <i class="mdi mdi-arrow-right" style="font-size: 18px;"></i>
                  </span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
        </a>
    </div><!-- end col -->

    
    <div class="col-xl-3 col-md-6">
    <a [routerLink]="['/blog/add-blog']">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Blogs<br>&nbsp; </span>
                        <h4 class="mb-3">
                            <span [countUp]="blogCount" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-6 text-center">
                        <i class="mdi mdi mdi-post-outline" style="font-size: 40px;"></i> 
                    </div>

                </div>
                <div class="text-nowrap mt-2">
                  <span class="view-details text-primary fw-medium link-primary link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    View Details <i class="mdi mdi-arrow-right" style="font-size: 18px;"></i>
                  </span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
        </a>
    </div><!-- end col -->

    
    <div class="col-xl-3 col-md-6">
    <a [routerLink]="['/placement/hired-students']">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Placement hired<br>&nbsp; </span>
                        <h4 class="mb-3">
                            <span [countUp]="hiredStudentsCount" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-6 text-center">
                        <i class="mdi mdi-account-multiple-check" style="font-size: 40px;"></i> 
                    </div>

                </div>
                <div class="text-nowrap mt-2">
                  <span class="view-details text-primary fw-medium link-primary link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    View Details <i class="mdi mdi-arrow-right" style="font-size: 18px;"></i>
                  </span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
        </a>
    </div><!-- end col -->

    
    <div class="col-xl-3 col-md-6">
    <a [routerLink]="['/career/hired-candidates']">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Hired Candidate<br>&nbsp; </span>
                        <h4 class="mb-3">
                            <span [countUp]="hiredCandidateCount" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-6 text-center">
                        <i class="mdi mdi-account-check" style="font-size: 40px;"></i> 
                    </div>

                </div>
                <div class="text-nowrap mt-2">
                  <span class="view-details text-primary fw-medium link-primary link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    View Details <i class="mdi mdi-arrow-right" style="font-size: 18px;"></i>
                  </span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
        </a>
    </div><!-- end col -->

</div><!-- end row-->

<div class="row justify-content-center">
    <div class="col-xl-5">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center mb-4">
                    <h5 class="card-title me-2">Portfolio Overview</h5>
                </div>

                <div class="row align-items-center">
                    <div class="col-sm">
                        <apx-chart dir="ltr" class="apex-charts" [series]="portfolioOverview.series" [chart]="portfolioOverview.chart" [legend]="portfolioOverview.legend" [colors]="portfolioOverview.colors" [labels]="portfolioOverview.labels" [stroke]="portfolioOverview.stroke" [plotOptions]="portfolioOverview.plotOptions">
                        </apx-chart>
                    </div>
                    <div class="col-sm align-self-center">
                        <div class="mt-4 mt-sm-0">
                          <div *ngFor="let label of portfolioOverview.labels; let i = index" class="mt-4 pb-2">
                            <p class="mb-2">
                              <i class="mdi mdi-circle align-middle font-size-10 me-2"
                                 [ngStyle]="{'color': portfolioOverview.colors[i]}"></i>
                              {{ label }}
                            </p>
                            <h6>
                              {{ portfolioOverview.series[i] }}
                              <span class="text-muted font-size-14 fw-normal"> ({{ label }})</span>
                            </h6>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    
    <div class="col-xl-5">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center mb-4">
                    <h5 class="card-title me-2">Devlopment Project Overview</h5>
                </div>

                <div class="row align-items-center">
                    <div class="col-sm">
                        <apx-chart dir="ltr" class="apex-charts" [series]="devlopmentOverview.series" [chart]="devlopmentOverview.chart" [legend]="devlopmentOverview.legend" [colors]="devlopmentOverview.colors" [labels]="devlopmentOverview.labels" [stroke]="devlopmentOverview.stroke" [plotOptions]="devlopmentOverview.plotOptions">
                        </apx-chart>
                    </div>
                    <div class="col-sm align-self-center">
                        <div class="mt-4 mt-sm-0">
                          <div *ngFor="let label of devlopmentOverview.labels; let i = index" class="mt-4 pb-2">
                            <p class="mb-2">
                              <i class="mdi mdi-circle align-middle font-size-10 me-2"
                                 [ngStyle]="{'color': devlopmentOverview.colors[i]}"></i>
                              {{ label }}
                            </p>
                            <h6>
                              {{ devlopmentOverview.series[i] }}
                              <span class="text-muted font-size-14 fw-normal"> ({{ label }})</span>
                            </h6>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div> <!-- end row-->